// Place all the styles related to the dashboard/my_project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$bro: #b39361;
$green: #80db22;

.valintanana-brown{
    color: $bro;
}
.mt-6{
    margin-top:6%;
}
.valintanana-brown-bg{
    background-color:$bro;
}
.w-20{
    width:20%;
}
.w-fx-20{
    width: 20em;
}
.w-30{
    width:30%;
}
.h-75{
    height: 20em !important;
}