<div class="m-4">
    <div class="">
        <div class="w-10 p-2 border-maroon border-bottom-0 border-radius-3 down-2 valide text-center text-white font-weight-bolder">
            Validée
        </div>
    </div>
    <div class="p-4 valide">
        <div class="h-20 w-100 flex justify-content-lg-around justify-content-md-around">
            <div class="card card-inverse card-primary w-20">
                <div class="text-center p-2 bg-white w-100 font-weight-bold">
                    <img   src="/svg/dropdown/projets.svg" alt="projets.svg"> Projets
                </div>
                  <div class="card-blockquote">
                    <img class="w-100 h-12" src="/directory/user.jpeg" alt="" />
                  </div>
                  <footer>
                    <div class="w-100 text-center bg-white font-weight-bold">
                        Titre du projet
                    </div>
                  </footer>
              </div>
              <div class="card card-inverse card-primary w-20 bg-specify">
                <div class="text-center p-2 bg-white w-100 font-weight-bold">
                   <img src="/svg/dropdown/contributions.svg" alt="contribution.svg"> Contribution
                </div>
                <div class="h-12 w-100 flex text-white align-items-lg-center align-items-md-center justify-content-md-center">
                    <h3>Nombre de takalo <br> <h6 class="w-100 text-center">(Valeur en Ariary)</h6> </h3>
                </div>
                  <footer>
                    <div class="w-100 text-center bg-white font-weight-bold pb-3 p-2 mt-2">
                        Date
                    </div>
                  </footer>
              </div>
              <div class="card card-inverse card-primary w-20">
                <div class="text-center p-2 bg-white w-100 font-weight-bold">
                    <img src="/svg/dropdown/contreparties.svg" alt="contrpartie.svg">  Contrepartie
                </div>
                  <div class="card-blockquote">
                    <img class="w-100 h-12" src="/directory/user.jpeg" alt="" />
                  </div>
                  <footer>
                    <div class="w-100 text-center bg-white font-weight-bold">
                        Date d'envoi : 15/08/24
                    </div>
                  </footer>
              </div>
              <div class="card card-inverse card-primary w-20 bg-specify">
                <div class="text-center p-2 bg-white w-100">
                   <img src="/svg/dropdown/collecte.svg" alt="collect.svg"> Apports à la collects
                </div>
                <div class="h-12 w-100 flex text-white align-items-lg-center align-items-md-center justify-content-md-center">
                    <h3>% apport</h3>
                </div>
              </div>
        </div>
    </div>
</div>