$bro:#b39361;
.bg-confict{
    background-color: #ffb6b626;
}
.col-specific{
    color: $bro !important;
}
.border-specify{
    border-color: #b39361 !important;
}
.fz-small{
    font-size: 13px;
}
.h-20-fix{
    height: 15em !important;
}
.border-spc-fix{
    border: 1px solid $bro;
    border-radius: 3px;
}
.w-spy{
    background-color: burlywood;
    height: 12em;
}
.w-img{
    margin-bottom: 2%;
    height: 12em;
}
.bg-spy{
    background-color: #11101040;
}
.w-10{
    width: 12%;
}
.cl-va{
    color:$bro !important;
}
.bg_color{
    background-color: #adff2f54;
}
.bd_va{
    border:2px solid $bro !important;
    border-radius:3px;
}
.half{
    padding-left: 2%;
    height: 2.9em !important;
}
.h-mic{
    height: 12.3em !important;
}
.height-half{
    height: 19em;
}
.h-mic-don{
    height: 6.3em;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.height-don{
    height: 16em !important;
}
.heigth-int{
    height: 3em;
}
.bg-grae{
    background-color: #8080801a !important;
}
.box{
    box-shadow: 1px 0.2px 0px 0.1px grey;
}
.height-about-title{
    height: 5em !important;
    white-space: wrap;
    text-overflow: ellipsis;
}
