    <section id="details-bon-plan" class="grid details-plan p-1">
        <div class="flex justify-content-center align-items-center title-evenment">
            <h2 class="text-center m-4 p-4 title-of-evnment">Titre de l'évènement </h2>
        </div>
        <div class="bg-white" id="slide-details-bon-plan">
            <div class="w-100 h-100 p-2">
                <img src="/directory/user.jpeg" alt="slide" class="w-100 h-100">
            </div>
        </div>
        <div class="categ-desp-m flex w-75 justify-content-center">
            <div CLASS="bg-white h-100 w-75 ecxDeR">
                <div class="grid-width-50">
                  <div class="mt-2 mb-2">
                      <strong class="color-blue">Categorie</strong> : <br>
                      <div class="categ-text-element pl-2">
                          Catégorie de l'évènement  Catégorie de l'évènement
                      </div>
                  </div>
                  <br>
                  <div class="mt-2 mb-2">
                      <strong class="color-blue">Date</strong> : <br>
                      <div class="categ-text-element pl-2">
                          Date de l'évènement
                      </div>
                  </div>
                </div>
              <br>
                <div>
                  <div class="mt-2 mb-2">
                      <strong class="color-blue">Lieu</strong> : <br>
                      <div class="categ-text-element pl-2">
                          Lieu de l'évènement
                      </div>
                  </div>
                  <br>
                  <div class="mt-2 mb-2">
                      <strong class="color-blue">Tarifs</strong> : <br>
                      <div class="categ-text-element pl-2">
                          Tarifs de l'évènement
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="description-details-bons-plan p-2">
            <div class="pl-5 pr-5 bg-white">
                  <div class="text-center">
                    <h4>Déscription</h4>
                  </div>
                 <span class="ml-5"> </span>   Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre
                <br> provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum
                Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum
                Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour
            </div>
        </div>
    </section>
