._WccDer{
  width:350px;
  height: 530px;
}
.aides-show{
  display: none;
}
._XccERn{
  display: none;
}
.content-xl-md{
  border-radius:5px;
}
.w-30{
  width:30% !important;
}
.text-white-important{
  color: white !important;
}
.text-darken-spec{
  color:#09080869;
}
#email-value:focus{
  border-color:rgb(179,147,97) !important;
}