                  <div style="width:24.5%;min-width:24.5%;max-width:24.5%;" class="ml-1 p-1">
                    <div class="card">
                        <div class="bpn text-white font-weight-bold pl-2 pr-2 radius-3 text-center top-2 position-absolute right">Categorie</div>
                      <img class="card-img-top w-100" src="/directory/user.jpeg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title text-center">titre de l'evenement </h5>
                      </div>
                        <div class="flex justify-content-between pl-2 pr-2 _CtDt text-center">
                            <div class="w-50">
                                Date
                            </div>
                            <div class="w-50">
                                Lieu
                            </div>
                        </div>
                      <div class="mt-1">
                        <a href="<%= busness_planification_path(@i) %>" class="btn w-100 btn-primary">Details</a>
                      </div>
                    </div>
                </div>