<div class="mt-6 pb-5">
    <div class="text-center w-100 text-uppercase font-weight-bold valintanana-brown">
        Mes Projets (3)
    </div>
</div>
<div class="flex w-100 h-75 justify-content-md-center align-items-md-center pb-5">
    <div class="w-75 valintanana-brown-bg p-2 pt-4">
       <label for=""><img class="mr-5 bg-white p-2 ml-1"   src="/svg/dropdown/projets.svg" alt=""></label>
       <input type="text" class="w-50 p-2 btn-outline-none" placeholder="Rechercher titre du mon projet">
    </div>
</div>
<section class="p-2">
    <div class="pb-4">
        <h4>Tous mes projets</h4>
    </div>
    <div class="contanier">
        <div class="flex w-100 flex-wrap justify-content-md-start">
          <% for @i in @my_project %>
            <%= render 'layouts/project/my_extend_project' %>
          <% end %>
        </div>
    </div>
</section>
